fastapi
uvicorn
gunicorn
sqlmodel
sqlalchemy
fastapi-users
fastapi-users-db-sqlalchemy
fastapi-users-db-sqlmodel
python-multipart
email-validator
passlib
bcrypt
alembic
aiosqlite
python-dotenv
orjson
nanoid